* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.design {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    background-color: rgb(233, 203, 203);
    width: 100%;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 50px;

    
}
.designText {
    width: 60%;
}
.image3 {
    width: 30%;
    position: relative;
}

.designP {
    font-size: 1.2rem;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.designH {
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img1 {
    
    width: 100px;
}
.img2 {
    
    width: 100px;

}
.img3 {
    
    width: 100px;

}